body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.input-append .btn.dropdown-toggle {
    float: none;
}
.table td {
    text-align: center;   
   
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}
 
.field-validation-valid {
    display: none;
}
 
input.input-validation-error {
    border: 1px solid #b94a48;
}
 
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
 
.validation-summary-errors {
    color: #b94a48;
}
 
.validation-summary-valid {
    display: none;
}
div.logo {
    max-width: 200px;
}
div.header {
    top: 0;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color:#e4e4e4;
    
}
.menu {
    height: inherit;
    list-style: none;
    margin: 0; 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-right: 50px;
    align-items : center;
}
.menu  a {
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    padding: 10px 5px;
    
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

.footer-element {
    width: 50%;
}
.footer-element:first-child * {
    float: left;
}
.footer-element:last-child * {
    float: right;
}