@using Weather.DAL.Models
@model IEnumerable<Weather.Models.SearchHistoryViewModel>
@{
    ViewBag.Title = "SearchHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchHistory</h2>
<div class="row">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>UserId</th>
            <th>Forecasts</th>
        </tr>
        </thead>
        <tbody>       
         @foreach(var item in Model) { 
             <tr>
                 
                 @if (item.Results != null)
                 {
                     <td rowspan="@item.Results.Count">@item.Id</td>
                     <td>
                         @item.Results.First().City.Name
                     </td>
                     foreach (var forecast in item.Results.GetRange(1,item.Results.Count-1))
                     {
                         <tr>
                             <td>
                             @forecast.City.Name
                             </td>
                         </tr>
                         
                      }
                 }
             </tr>
         }
        </tbody>
    </table>
</div>
